@use '../abstracts' as *;

:root {
	/* COLORS */
	--primary: #bba86d;
	--primary-light: #f6d161;
	--primary-dark: #c6a02e;
	--off-white: #f2f2f2;
	--gray-light: #e9e9ea;
	--gray-medium: #9f9f9f;
	--gray-dark: #353944;
	--selection: #e34270;
	--selection-2: #3bcf67;
	/* COLORS */

	/* FONTS */
	--heading-medium: 3.5rem;
	--heading-small: 2.5rem;
	--paragraph: 1.5rem;
	--links: 1rem;
	/* FONTS */

	/* BOX-SHADOWS */
	--shadow-light: 0 3px 5px rgba(0, 0, 0, 0.1);
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 60%;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	background-image: linear-gradient(
		to right bottom,
		var(--primary-light) 30%,
		var(--selection)
	);
}

img {
	max-width: 100%;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

input {
	font: inherit;
}
